header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: var(--HomepageItems);
    position: relative;
    z-index: 3;
}

h1{
    font-size: calc(var(--HomepageItems) * 1.5); 
    font-weight: 800;
}

.toggler{
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 600;
    font-size: var(--HomepageItems);
    svg{
        font-size: calc(var(--HomepageItems) + 4px);
    }
}

header.light{
    background-color: var(--VeryLightGrayLightModeBackground);
    color: var(--VeryDarkBlueLightModeText);
    box-shadow: 1px 1px 5px var(--DarkGrayLightModeInput);
}

header.dark{
    background-color: var(--DarkBlueDarkModeElements);
    color: var(--WhiteDarkModeTextLightModeElements);
    box-shadow: 1px 1px 5px var(--VeryDarkBlueLightModeText);
}

@media screen and (width > 375px) {
    header{
        padding-inline: 5%;
    }
}