.paises{
    padding: var(--HomepageItems) calc(var(--HomepageItems) * 3.5);
    display: grid;
    grid-template-columns: auto;
    gap: calc(var(--HomepageItems) * 3.5);
}

@media screen and (width > 375px){
    .paises{
        padding-block: calc(var(--HomepageItems) * 2);
        padding-inline: 5%;
        grid-template-columns: repeat(4, 22%);
        justify-content: space-between;
    }
}